
<div class="container">
<div class="video-div">
 <video autoplay muted loop class="myVideo">
  <source src="https://res.cloudinary.com/menozzi/video/upload/v1587402331/project2/GettyImages-1197267467_o6i5kd.mp4" type="video/mp4">
</video>
</div>
  <header>
    <h2><a href="#"><i class="logoSpotSport"></i> Spot Sports</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/" title="home">HOME</a>
        </li>
        <li>
          <a href="#" title="about">ABOUT</a>
        </li>
        <li>
          <a class="btn" href="login" title="Register / Log In">Sign Up/Log In</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="cover">
    <div class="content-video">
      <h1>Discover Public places where you can play</h1>
    </div>
</div>
</div>





 <link rel="stylesheet" href="/stylesheets/index.css" />

