
<div class="container">
<div class="video-div">
 <video autoplay muted loop class="myVideo">
  <source src="https://res.cloudinary.com/menozzi/video/upload/v1587402331/project2/GettyImages-1197267467_o6i5kd.mp4" type="video/mp4">
</video>
</div>
  <header>
    <h2><a href="#"><i class="logoSpotSport"></i> Spot Sports</a></h2>
    <nav>
      <ul>
        <li>
          <a class="btn" href="login" title="Register / Log In">Sign Up/Log In</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="cover">
    <div class="content-video">
      {{!-- <br>
      <br>
      <br>
      <br>
      <br>
      <br> --}}
      <h1 class="div-text">Find public places where you can play</h1>
      <p class="div-p"><b>Create and discover new places</b></p>
      <p class="div-p"><b>Interact with others sport lovers</b></p>
      <p class="div-p"><b>Practice sports without spending anything</b></p>
    </div>
    
</div>
</div>

<style>
  .content-video{
  background-color:#81283586;
  width:100%;
  height:100%;
  }
  .div-text{
    margin-left: 140px;
    margin-top:200px;
  }
  .div-p{
    margin-left:11%;
    font-weight: 500;
    font-size: 19px;
  }
</style>





 <link rel="stylesheet" href="/stylesheets/index.css" />
