<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  {{!-- <header>
    <h2><a href="#"><i class="logoSpotSport"></i> Spot Sports</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/" title="Hotels">HOME</a>
        </li>
        <li>
          <a href="#" title="Flights">ABOUT</a>
        </li>
        <li>
          <a class="btn" href="login" title="Register / Log In">Sign Up/Log In</a>
        </li>
      </ul>
    </nav>
  </header> --}}

  {{{body}}}



  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUBhP0MZXa7DoeonWXJtP-3g9sEgSuas8"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>