<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>


  {{{body}}}
<div class="footer-div">
  <p>Spot Sport developed by Fabio &amp; Andre</p>
  <p>Ironhack 2020 Web Development</p>
</div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUBhP0MZXa7DoeonWXJtP-3g9sEgSuas8"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>

