 <span><a href="/">Home</a></span>
 <br>
 <br>
 
<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <br>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <br>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <input type="submit" value="Log In">
  </div>
  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
  <a href="/auth/google">Login With Google</a>
</form>
