
<h2><a href="/" id="logoSpot">Spot Sport</a></h2>
<script src="https://kit.fontawesome.com/0cc4f904e8.js" crossorigin="anonymous"></script>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/signup" method="POST" enctype="multipart/form-data">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="/auth/facebook" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="/auth/google" class="social"><i class="fab fa-google"></i></a>
       
			</div>
			<input id="firstName" type="text" name="firstName" placeholder="Vito Corleone" required>
      {{!-- <input id="lastName" type="text" name="lastName" placeholder="Corleone" required> --}}
      <input id="username" type="text" name="username" placeholder="vito.corleone" required>
			<input id="email" type="text" name="email" placeholder="vito@corleone.com" required>
			<input id="password" type="password" name="password" placeholder="********" required>
      <input type="file" name="photo" id="photo" required>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/login" method="post">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="/auth/facebook" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="/auth/google" class="social"><i class="fab fa-google"></i></a>
			</div>
			<span>or use your account</span>
			<input type="username" name="username" placeholder="username" />
			<input type="password" name="password" placeholder="Password" />
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back to Spot Sport!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start to discover public places to play</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/stylesheets/login-form.css" />
<script src='/javascripts/login-form.js'