
<script src="https://kit.fontawesome.com/0cc4f904e8.js" crossorigin="anonymous"></script>
<div "div-text">
      <h1>404 Error</h1>
      <h2>Sorry, no ball to play!</h2>
    <a href="/places" class="goPlaces"><i class="fas fa-home"></i></a>

</div>

<style>

  body{
    
     font-family: 'Montserrat', sans-serif;;
  } 
  
 
  h1, h2{
      color:black;
      text-align: center;
      margin-left: 90px;
  }
  
h1{
    margin-top: 150px;
}
.goPlaces{
    text-decoration: none;
    color:black;
    margin-left: 680px;
}

i{
    font-size:40px;
}
  .footer-div{
  margin-top:590px;
}
</style>