<span><a href="/profile/{{_id}}">Back</a></span><br>
<h1>Change Password</h1>
<form action="/password-edit?userId={{_id}}" method="POST" enctype="multipart/form-data">
  <label for="password">New Password:
  <input id="password" type="password" placeholder="********">
  </label>
  <br><br>
  <button type="submit">EDIT</button>
</form>