<span><a href="/places">Back</a></span><br>
<h1>Add a new Spot Sport</h1>

<form action="/place-add" method="POST" enctype="multipart/form-data">
  <label for="name">Name:
    <input type="text" name="name"required>
  </label>
  <br>
  <br>
  <label for="type">Type:
    <input type="text" name="type">
  </label>
  <br>
  <br>

   <label for="address">Address:
          <input id="latitude" type="text" name="latitude" hidden>
          <input id="longitude" type="text" name="longitude" hidden>
          <input id="address" type="address" name="address" placeholder="Address, number, City" required>
  </label> 
  <br>
  <br>
  <label for="description">Description:
    <input type="text" name="description">
  </label>
  <br>
  <br>
  <label for="photo">Photo:
    <input type="file" name="photo" required>
  </label>
  <br>
  <br>
  <button id="addButton" type="submit">ADD</button>
</form>