<p>Add a review</p>
<form action="/place-review?placeId={{_id}}" method="post">
  {{!-- <label for="">Username:</label>
  <input type="text"  name="username"> --}}
  <label for="">Comments:</label>
  <textarea type="text" name="comments"></textarea>

  <button type="submit">ADD</button>
</form>


