.mapPlaces {
    height: 500px;
    width: 100%;
}

.review-item {
    border-bottom: 1px solid grey;
    margin: 10px 0;
    padding-bottom: 10px;
  }
  
  .review-item p {
    margin-bottom: 0;
  }
  
  .review-item span {
    font-size: 10px;
    color: grey;
  }

  .element-img{
    width:150px;
    height:100px;
  }

  .element-a{
    text-decoration:none;
    font-family:'Montserrat', sans-serif;
    color:black;
    font-size: 13px;
  }
  
  .element-a:hover{
    color: red;
  }



 

  

